mimic-iv-1.0
scrap
*.gzip
*.csv.gz
*summary*.txt

*.csv
*.csv.gz
*.pt
*.gz
*.gzip
*.pkl
*.pickle
*.h5
*.hdf5
*.parquet
*.feather
*.npy
*.npz
*.jsonl

data/
mimiciv/

*/__pycache__/*
*.pyc

*.cursorignore

/notebook-logs/*